	body{
        cursor: grab;
		box-sizing: border-box;
		margin: 0 auto;
	}
	.main-container{
		width: 100%;
		height: 100vh;
		overflow-y: hidden;

	}
	.main-container img{
		width: 100%;
		height: 100vh;
		overflow: hidden;
		object-fit: cover;
		position: fixed;
	}
    
    ::-webkit-scrollbar{
	width: 0px;
	background:transparent;
    }
    ::-moz-scrollbar{
	width: 0px;
	background:transparent;
    }
    ::-ms-scrollbar{
	width: 0px;
	background:transparent;
    }
    
body:hover{
	overflow: hidden;
}
#myCanvas{
	position: absolute;
	width: 45px;
	height: 45px;
	box-sizing: border-box;
	transition: 0.3s linear;
	border-radius: 50%;
	background-color: white;
	pointer-events: none;
	opacity: 0.4;
	overflow: show;
}

@media only screen and (min-width:300px){
	.flex-container{
    	opacity: 0.9;
    	position: relative;
    	top: 120px;
    }
    .flex-box-place{
		display: flex;
    }
    .box {
    	display: flex;
        width: 180px;
		height: 300px;
		padding: 34px;
		opacity: 0.8;
        justify-content: center;
       }
    .box a{
		color: whitesmoke;
		font-size: 22px;
    	font-family: sans-serif;
    	justify-content: center;
    	text-decoration: none;
	}
	.box-text-place{
        padding: 150px;
	}
	.flex-title-display-place{
        position: relative;
        justify-content: center;
        bottom: auto; 
    }
    .flex-title-display{
        position: fixed;
        text-align: center;
		bottom: 100px;
        min-width: 100%;
	}
	.flex-title-display b{
        color: DarkGray;
        opacity: 0.8;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 53px;
	}
	.website-name{
        position: fixed;
        top: 2%;
        left: 4%;
        opacity: 0.9;
        color: whitesmoke;
        font-size: 27px;
        font-family: sans-serif;
	}
	.footer-display{
		position: fixed;
		text-align: center;
        width: auto;
		height: 30px;
		bottom: 50px;
		padding-left: 35px;
	}
	.slider-place{
		padding-left: 110px;
		position: fixed;
		text-align: center;
	}
	.slider-place::-webkit-slider-runnable-track{
		-webkit-appearance: none;
		background-color: darkgray;
	}
	.slider{
		text-align: center;
		position: fixed;
		height: 2px;
		width: 80px;
	}
	.slider::-webkit-slider-thumb{
		display: none;
	}
	.left{
        position: fixed;
		color: whitesmoke;
	    padding-left: 95px;
    }
    .right{
        color: whitesmoke;
        position: fixed;
        /* float: right; */
        padding-left: 200px;
        font-size: 10px;
	}
	#leftvalue{
		font-size: 10px;
	} 
	.bar-option-container{
		position: fixed;
		/* float: right; */
		top: 5px;
		right: 35px;
		cursor: pointer;
	}
	.bar1, .bar2, .bar3 {
		width: 20px;
		height: 4px;
		opacity: 0.9;
		background-color:whitesmoke;
		margin: 4px 0;
		transition: 0.4s;
	  }
	  #myCanvas{
		  display: none;
	  }
	  .change .bar1 {
		-webkit-transform: rotate(-35deg) translate(-13px, 4px);
		transform: rotate(-35deg) translate(-13px, 4px);
	  }
	  
	  .change .bar2 {
		  opacity: 0;
		}
	  
	  .change .bar3 {
		-webkit-transform: rotate(20deg) translate(-9px, -3px);
		transform: rotate(20deg) translate(-9px, -3px);
	  }
	  @media only screen and (min-width:992px){
		.flex-container{
			opacity: 0.9;
			position: relative;
			top: 120px;
			/* left: 50px; */
			width: 2400px;
			height: 400px;
		}
		.flex-box-place{
			display: flex;
		}
		.box {
			display: flex;
			width: 600px;
			height: 400px;
			justify-content: center;
		}
		.box a{
			color: DarkGrey;
			font-size: 40px;
			font-family: sans-serif;
			justify-content: center;
			text-decoration: none;
		}
		.box-text-place{
			padding-top: 80px;
		}
		.flex-title-display-place{
			position: fixed;
			justify-content: center;
			bottom: auto; 
		}
		.flex-title-display{
			position: fixed;
			text-align: center;
			bottom: 40px;
			min-width: 100%;
		}
		.flex-title-display b{
			color: DarkGray;
			opacity: 0.8;
			font-family: sans-serif;
			font-weight: bold;
			font-size: 240px;
		}
		.website-name{
			position: fixed;
			top: 2%;
			left: 4%;
			opacity: 0.9;
			color: whitesmoke;
			font-size: 35px;
			font-family: sans-serif;
		}
		
		.slider-place{
			padding-top: 7px;
			position: fixed;
			text-align: center;
		}
		.slider-place::-webkit-slider-runnable-track{
			-webkit-appearance: none;
			background-color: darkgray;
		}
		.slider{
			text-align: center;
			position: fixed;
			height: 2px;
			width: 80px;
		}
		.slider::-webkit-slider-thumb{
			display: none;
		}
		.bar-option-container{
			position: fixed;
			float: right;
			top: 5px;
			right: 12px;
			cursor: pointer;
		}
		.bar1, .bar2, .bar3 {
			width: 30px;
			height: 4px;
			opacity: 0.9;
			background-color:whitesmoke;
			margin: 6px 0;
			transition: 0.4s;
		  }
		  .footer-display{
			position: fixed;
			/* background-color: orange; */
			display: inline-block;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 50px;
			bottom: 10px;
			left: 38%;
		}  
		  .left{
			  align-items: center;
			  justify-content: center;
			  /* left: 50%; */
			  font-size: 15px;
			position: fixed;
			color: whitesmoke;
			}
		.right{
			/* right: 40%; */
			
			color: whitesmoke;
			position: fixed;
			font-size: 15px;
		}
		#leftvalue{
		}
		.change .bar1 {
			-webkit-transform: rotate(-34deg) translate(-9px, 6px);
			transform: rotate(-34deg) translate(-9px, 6px);
		  }
		  
		  .change .bar2 {
			  opacity: 0;
			}
		  
		  .change .bar3 {
			-webkit-transform: rotate(29deg) translate(-8px, -7px);
			transform: rotate(29deg) translate(-8px, -7px);
		  }
		  #myCanvas{
			display: block;
		}
	
	}		
}
	
	 
	 
