	body{
		margin: 0 auto;
		background-color: #000;
		cursor: grab;
		overflow-x: hidden;
    }
    
	.location-name-place p{
		color: #fff;
		text-shadow: 0 0 25px #fff;
		font-size: 35px;
		text-align: center;
		font-family: sans-serif;
    }

    .downline {
        /* position: fixed; */
		background-color: gray;
		height: 0.5px;
		box-shadow: 0 0 5px #fff;
        border-width: 0;
        width: 100%;
    }

	.travel-guide-display{
    margin-top: 30px;
    margin-left: 50px;
	}
    .travel-guide-display hr{
        margin-top: 18px;
    	float: left;
    	height: 2px;
    	background-color: #fff;
    	width: 15px;
    }
    .travel-guide-display span{
    	font-size: 30px;
    	float: left;
    	color: white;
    	margin-left: 20px;
    }
    
    .image-container{
    	width: 1600px;
    	height: 320px;
        margin-top: 20px;
        margin-left: 80px;
        display: flex;
    }
    .Box{
    	width: 330px;
    	height: 320px;
    	margin: 10px;
    	transition: 2s;
    	border-radius: 10px;
    }
    .image-box{
    	border-radius: 15px;
    	overflow: hidden;
    }
    .image-box img{
    	width: 340px;
    	height: 320px;
    	transition: transform 2s;
    }
    @media only screen and (max-width:600px){
        .location-name-place{
            position: fixed;
            width: 100%;
            top: 10px;
            text-align: center;
        }
        .downline {
            position: fixed;
            background-color: gray;
            height: 0.5px;
            box-shadow: 0 0 5px #fff;
            border-width: 0;
            margin-top:100px;
            width: 100%;
        }
        .travel-guide-display{
            position: absolute;
            padding-top: 100px;
            margin-left: 50px;
            }
            .image-container{
                width: 1600px;
                height: 320px;
                padding-top: 200px;
                margin-left: 80px;
                display: flex;
            }
            .Box{
                width: 200px;
                height: 100px;
                margin: 10px;
                transition: 2s;
                border-radius: 10px;
            }
            .image-box{
                border-radius: 15px;
                overflow: hidden;
            }
            .image-box img{
                width: 340px;
                height: 320px;
                transition: transform 2s;
            }
    }
    .Box:hover .image-box img{
    	cursor: pointer;
    	transform: scale(1.2);
    }
    .info-about-image{
    	margin-top: 20px;
    	margin-left: 93px;
    	width: 900px;
    }
    .info-about-image div p{
    color: white;
    }
     ::-webkit-scrollbar{
     	width: 0;
     	background:transparent;
     }
     #more{
     	display: none;
     }
     .readless-button{
     color: LightSkyBlue;
     border:none;
     cursor: pointer;
     background-color: transparent;
     }
     .readless-button:focus{
     	outline: none;
     }
     .things-to-do-place #try {
     	width: 1900px;
     	height: 340px;
     	margin-top: 5px;
     	margin-left: 80px;
/*        background-color: white;
*/     	display: flex;
     	overflow: hidden;
     }
/*     .things-to-do-place #try .things-box .places-box img{
     	     	overflow: hidden;

     }*/

     .things-box{
        width: 330px;
        height: 320px;
        margin: 10px;
        cursor: pointer;
        border:1px ridge rgba(255,255,255,0.1);
       	border-radius: 10px;
     }
     .things-box .places-box img{
     	border-radius: 10px;
        width: 330px;
        height: 240px;
     }
     .things-place{
     	margin-top: 70px;
     	margin-left: 90px;
     }
     .textone{
     	font-family: bold;
     	font-size: 20px;
     	color: white;
     }
     .texttwo{
     	font-size: 14px;
     	color: gray;
     }
     .places-box p{
     	font-size: 14px;
        text-align: center;
     	color: white;
     }
     .places-box p span{
        font-size: 18px;
     }
     .show-more-icon{
          margin-top: 150px;
     }
     .show-more-icon .slide-more{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
     }
     .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 10px 9px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
    .show-more-icon-left{
        display: none;
    	margin-top: 150px;
        margin-left: 40px;
        position: absolute;
    }
    .show-more-icon-left .slide-more-left{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;  
    }
#hideimg{
display: none;
}